body {
    width: 100%;
}

a {
    text-decoration: none;
    color: unset;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}
/* header */

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo {
    flex: 0 0 900px;
}

.logo-links {
    flex: 0 0 auto;
    align-self: flex-end;
}

/* headline */

.tagline {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

.tagline img {
    width: 300px;
}

.pitch {
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    flex: 0 1 20%;
    padding: 0;
    margin: 20px;
    gap: 10px;
}

.hero {
    font-size: 30px;
    font-weight: 900;
}

.pitch > button {

}

.tagline img {
    height: auto;
    width: 200px;
}

/* tiles */

.pump-selection {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.pump-selection h2 {
    font-size: 30px;
}

.tiles {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
}

.pump-tile {
    display: inline;
    flex-direction: column;
    flex: 0 1 200px;
}

.pump-tile img {
    width: 200px;
    height: auto;
    display: inline;
}

/* Testimonial Section */

.testimonial {
    background-color: #E5E7EB;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
}

.testimonial p {
    flex: auto;
    width: 700px;
}

.testimonial h3 {
    flex: 1;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-content: center;
}

.call-to-action div {
    display: flex;
    flex-flow: column wrap;
}

.call-to-action h3 {
    display: flex;
}

.call-to-action p {

}

.call-to-action button {

}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}